@font-face {
    font-family: "breakingbad";
    src: url("../font/Breaking\ Bad.ttf"); 
}

#bbfont {
    font-family: breakingbad;
    font-size: 14px;
    color: white;
}

#green_background {
    background-color: #0c3e11;
}

#hank {
    width: 80px;
    height: 140px;

}


#logo {
    width: 200px;
    height: 200px;
}

#poster {
    width: 700px;
    height: 300px;
    border: 10px outset brown;
    border-radius: 22px;
}

.black {
    background-color:rgb(45, 45, 45);
}

.breaking_bad {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/LandingWeb/img/breaking_bad/fondo.jpg");
    background-size: cover;
    text-align: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.green {
    background-color: #9dc150;
}

.green_light {
    background-color: #E2F89C;
}

.green_low {
    background-color: #8ab826;
}

.green_olive {
    background-color: #859d36;
}

.green_olive_dark {
    background-color: #6f7e3d;
}

.green_olive_light {
    background-color: #717b54;
}

.green_gray {
    background-color: #c2c6b3;
}

.green_yellow{
    background-color: #b6aa2d;
}

.green_white {
    background-color: #e8ecdb;
}

.helvetica {
    font-family: Helvetica, Arial, sans-serif;
}


.item {
    margin-bottom: 4px;
}


.picture {
    width: 60px;
    height: 68px;
}

.purple {
    background-color: rgb(172, 141, 195);
}

.section {
    margin-bottom: 36px;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.section_title {
    margin-bottom: 12px;
}

.subsection {
    display: flex;
    justify-content: space-between;
    gap: 4px;
}

.symbol {
    font-size: 14px;
    font-weight: bold;
}

.text {
    font-size: 10px;
}

label {
    font-size: 14px;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    background-color: rgb(45, 45, 45);
    color: black;
    margin-top: 32px;

}

td {
   border: 2px solid rgb(45, 45, 45);
   width: 80px;
   padding: 0;

}

tr {
    height: 72px;
}

table {
    background-color: rgb(45, 45, 45);
    color: black;
    text-align: center;
}


textarea {
    resize: none;
}


